html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

privacy-police-info {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    background-color: #464646;
    width: 100%;
    color: lightgray;
    text-align: center;
    padding: 5px 0;
}

privacy-police-btn {
}